<!DOCTYPE html>
<html>
<head>
  <title>UsersManager</title>
</head>
<body>
  <%= yield %>
  <p>There are <%= count_interest[0] %> users with a total of <%= count_interest[1] %> interest</p>
</body>
</html>